$font-family: 'PTRootUIWeb', sans-serif;

$color-bg-green: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
$color-bg-white: #FFFFFF;
$color-grey: #9B9FAA;
$color-dark-grey: #a9b6b0;
$color-black: #0B1739;
$color-white: #FFFFFF;
$color-green: #3EB57C;
$color-dark-green: #3EB57C;
$color-shadow-green: #95D0A1;


$screen-table: 960px;
$screen-desktop: 1440px;

